# Environment variables & Configs
.env
config.json

# Fyne cross output
fyne-cross

# Binaries
*.exe
*.exe.zip
ha-tray

# Rclone deploy
rclone.local.conf
taskfile2.yml

# Notes
notes.md

# Logs
*.log
